body {
  font-family: 'Fira Sans', sans-serif;
}

h1{
  text-align: center;
  color:rgb(17, 0, 255);
  font-weight: bold;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: rgb(155, 167, 180);
}
header {
  font-weight: bold;
  text-align: center;
  background-color: rgb(35, 53, 73);
  color:rgb(220, 220, 235);
  font-size: 70px;
  margin:0;
  padding:2%;
}


.card {

margin: 15px;
align-content: center;
padding-bottom: 10px;

}

.green {
  background-color: rgb(126, 233, 4);
}
.orange{
  background-color: orange;
}
.red {
  background-color: red;

}

.cityName{
  font-weight: bold;
  width: 60%;
}

#date{
  width:40%;
  float: right;
  font-size: 35px;
}

.forecast{
  display: flex;
  justify-content: center;
}

#forecastHead{
  display: flex;
  justify-content: center;
}

.list-group-item {
  display: flex;
  align-items: center;
  align-self: unset;
  padding-left: 100px;
  padding-right: 100px;
}
li { 
  display: flex;
  align-items: center;
  align-content: center;
 }

 #uvEl {
   margin-left: 0px;
   margin-right: 70px;
   border: 90px;
 }
h2,
h3,
h4 {
  font-weight: 700;
}
5daycard{
  background-color: rgb(35, 53, 73);
color: purple;

}
